.top{
    width: 100%;
    height: 50px;
    background-color: rgb(135, 191, 139);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Kadwa', serif;
    z-index: 9999;
}

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon{
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}
.topCenter{
    flex: 8;
}

.topList{
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}